.ListDetails-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RestaurantDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .col-1 {
    margin-right: 10px;
    button {
      background-color: white;
      border: none;
      font-size: 1.5em;
    }
  }
  .col-2 {
    img {
      width: 120px;
      height: 80px;
      object-fit: cover;
    }
  }

  .col-3 {
    p {
      margin: 0;
    }
  }

  .col-1,
  .col-4 {
    width: 10%;
  }
  .col-2,
  .col-3 {
    width: 40%;
  }
}

.AddRest {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  p {
    margin-left: 5px;
  }
}
