.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Baloo 2", cursive;

  p {
    list-style-type: none;
    margin: 5px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
  }
  p:hover {
    background-color: #d62828;
    color: white;
    font-weight: bold;
    padding: 5px;
  }

  .link {
    text-decoration: none;
  }
}
