.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
  }

  .col-img img {
    border-radius: 10px;
    width: 160px;
  }

  .add-btn {
    border: none;
    background-color: white;
  }
}
