.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
  }
  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: #d62828;
      text-decoration: none;
    }
  }

  .col-img img {
    border-radius: 10px;
    width: 160px;
  }

  .add-btn {
    border: none;
    background-color: white;
    color: #d62828;
  }
}
.inspo {
  color: #d62828;
  font-weight: 700;
  margin-bottom: 5px;
}
