h1,
h2,
h3,
h4,
h5,
p,
button,
label,
input,
form {
  font-family: "Baloo 2", cursive;
}

p {
  margin-bottom: 0;
}

/*Tablet styles here*/
@media screen and (min-width: 768px) {
}

/*Desktop styles here*/
@media screen and (min-width: 1200px) {
  .App {
    width: 800px;
    display: flex;
    flex-direction: column;
  }
}
