.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  /*Tablet styles here*/
}

@media screen and (min-width: 1200px) {
  /*Desktop styles here*/
}
